// 예시: 파스텔 블루 사용
$primary-bg-color: #fff1b4;
$primary-text-color: #333333;
$link-color: hsla(211, 97%, 62%, 0.847);
$header-bg-color: #333333;
$header-text-color: #ffffff;

// 페이지 헤더 정렬
.universal-wrapper h1 {
  text-align: center;
}

// CTA 버튼 중앙 정렬
.cta-group {
  justify-content: center;
}

// 전체 배경색 및 텍스트 색상
body {
  background-color: $primary-bg-color; // 하늘색 적용
  color: $primary-text-color;
}

// 링크 색상
a {
  color: $link-color;
}

// 헤더와 네비게이션의 배경 및 텍스트 색상
header, nav {
  background-color: $header-bg-color;
  color: $header-text-color;
}

/* 기본 버튼 스타일 */
.cta-group a {
  background-color: #a4e3ee; /* 기본 배경색 */
  color: #83aae6; /* 기본 텍스트 색 */
  transition: background-color 0.3s ease; /* 호버 효과의 부드러운 전환 */
}

/* 호버 시 노란색으로 변경 */
.cta-group a:hover {
  background-color: #FFD700; /* 노란색 */
}

/* 양쪽 정렬 클래스 */
.text-justify {
  text-align: left !important; /* 양쪽 정렬을 강제로 적용 */
  margin: 0 auto; /* 수평 중앙 정렬 */
  padding: 0; /* 패딩 제거 */
  width: 90%; /* 너비를 조정하여 화면에 더 많은 공간을 사용 */
  max-width: 100%; /* 최대 너비를 화면 전체로 */
}
.container, .content, .post-content {
  max-width: 100% !important; /* 최대 너비를 100%로 확장 */
  margin: 0 auto; /* 수평 중앙 정렬 */
  padding: 0 20px; /* 좌우 여백 */
}